@switch (variant()) {
  <!-- Primary button -->
  @case ('primary') {
    <button 
      mat-raised-button
      [ngClass]="buttonClasses()"
      [disabled]="disabled() || loading()"
      [type]="type()"
      (click)="handleClick($event)">
      <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
    </button>
  }
  
  <!-- Secondary button -->
  @case ('secondary') {
    <button 
      mat-stroked-button
      [ngClass]="buttonClasses()"
      [disabled]="disabled() || loading()"
      [type]="type()"
      (click)="handleClick($event)">
      <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
    </button>
  }
  
  <!-- Tertiary button -->
  @default {
    <button 
      mat-button
      [ngClass]="buttonClasses()"
      [disabled]="disabled() || loading()"
      [type]="type()"
      (click)="handleClick($event)">
      <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
    </button>
  }
}

<!-- Button content template -->
<ng-template #buttonContent>
  <!-- Loading spinner -->
  @if (loading()) {
    <mat-icon class="loading-spinner">refresh</mat-icon>
  }
  
  <!-- Left icon -->
  @if (icon() && iconPosition() === 'left' && !loading()) {
    <mat-icon class="button-icon button-icon--left">
      {{ icon() }}
    </mat-icon>
  }
  
  <!-- Button content -->
  <span class="button-content" [class.sr-only]="loading()">
    <ng-content></ng-content>
  </span>
  
  <!-- Right icon -->
  @if (icon() && iconPosition() === 'right' && !loading()) {
    <mat-icon class="button-icon button-icon--right">
      {{ icon() }}
    </mat-icon>
  }
</ng-template>
